extends ../../layouts/core.pug

block content
    div(class="game-container")
        h1(class="game-header") #{name}
        p  Release date: #{released}
        a(href=website) #{website}
        //- doesnt take you to website link
        p  Game description: #{description}
         p  Rating: #{rating}
        img(src=image)  
        img(src=alternate)
