extends ../../layouts/core-without-search.pug

block content
    div(class="game-container")
        h1(class="game-header") #{name}
        a(class ="web-link" href=website) #{website}
        p(class="genre-desc") Number Of Games On This Platform: #{games_count}
        h3 Media :
        div(class="img-container")
            img(class="game-image" src=image)